#wrapper{
	height: 100vh;
	background-color: #EFF6;
	display: block;
}

#innerWrapper{
	padding: 0.5%;
	height: 100%;
}

#topRow{
	height: 25vw;
	margin-bottom: 10px;
	outline: black 1px solid;
}

#resource-col{
	padding-right: 15px;
	margin-left: 15px;
	width: calc(33.3333333% - 15px);
}

#shop-wrapper{
	padding-right: 15px;
	margin-left: 15px;
	width: calc(66.666666% - 15px);
}


#loot-box{
	text-align: center;
	margin: 15px;
}

#lootps{
	font-size: 18px;
	font-weight: bold;
}

.progress.active .progress-bar {
    -webkit-transition: none !important;
    transition: none !important;
}

#loot-progress{
    width: 0%;
    height: 38px;
}
#loot-progress-bar{
    height: 38px;
}

#total-loot{
	font-size: 18px;
	font-weight: bold;
}

#loot-stats-container{
	padding-top: 10px;
	height: 38px;
}
#shop-container{
	height: 100vh;
}
#shop-top{
	padding: 15px;
}
span{
	font-size: 12px;
}
#flashlight{
	text-align: center;
}
#friendo{
	text-align: center;
}
/* Popover */
.popover{
	border: 2px solid black;
}

.popover-title{
	background-color: #000000;
	font-size: 18px;
	text-align: center;
}

.popover-content{
	padding: 25px;
}